body{
   background-image: url("http://images.fanpop.com/images/image_uploads/weather-weather-250395_1024_768.jpg");
}
h1{
  text-align:center;
  color:white;
  margin-bottom:100px;
}
.main{
  width:400px;
  height:300px;
  margin-left: auto;
  margin-right: auto;
  background-color:grey;
  opacity:0.5;
  padding:5px;
}
#Left{
  height:300px;
  width:199px;
  float:left;
  border-right:solid 2px;
  padding-top:10px;
}
#temp{
  font-size:45px;
  display:inline;
}
#but{
  margin-right:10px;
  float:left;
  margin:22px 0 0px 5px;
}
#icon{
text-align:center;
}
#conditions{
  margin-top:5px;
  font-size:30px;
  text-align:center;
}
#windimg{
  width:50px;
  height:50;
  display: block;
  margin: 0 auto;
  margin-top:10px;
}
#wind{
  margin-top:10px;
  font-size:25px;
  text-align:center;
}

#Right{
  height:300px;
  width:199px;
  float:right;  
}
#ip{
  margin-top:40px;
  font-size:25px;
}
#location{
  margin-top:40px;
  font-size:30px;
}
